{{#each products}}
    <hr>
    <div>
        <div><b>id: </b>{{this.id}}</div>
		<div><b>title: </b>{{this.title}}</div>
		<div><b>description: </b>{{this.description}}</div>
		<div><b>price: </b>{{this.price}}</div>
		<div><b>thumbnail: </b>{{this.thumbnail}}</div>
		<div><b>code: </b>{{this.code}}</div>
		<div><b>stock: </b>{{this.stock}}</div>
    </div>
    <hr>
{{/each}}